.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.navigation-links1-navlink {
  color: #4d4d4d;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-left: 0px;
  padding-top: 0rem;
  margin-right: var(--dl-space-space-unit);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}
.navigation-links1-navlink1 {
  color: #4d4d4d;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-left: 0px;
  padding-top: 0rem;
  margin-right: var(--dl-space-space-unit);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}
.navigation-links1-navlink2 {
  color: #4d4d4d;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-left: 0px;
  padding-top: 0rem;
  margin-right: var(--dl-space-space-unit);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}
.navigation-links1-navlink3 {
  color: #4d4d4d;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-left: 0px;
  padding-top: 0rem;
  margin-right: var(--dl-space-space-unit);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}








.navigation-links1-root-class-name8 {
  align-self: center;
}
.navigation-links1-root-class-name10 {
  align-self: center;
}
@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.stay-in-touch-stay-in-touch {
  width: 100%;
  height: 516px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.stay-in-touch-container {
  width: 100%;
  height: 498px;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
}
.stay-in-touch-text {
  color: #212121;
  font-size: 52px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.stay-in-touch-text1 {
  font-size: 20px;
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  font-family: Poppins;
  margin-bottom: var(--dl-space-space-twounits);
}
.stay-in-touch-text2 {
  color: #212121;
}
.stay-in-touch-form {
  width: 100%;
  height: 199px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.stay-in-touch-textinput {
  width: 537px;
  height: 47px;
}
.stay-in-touch-button {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Poppins;
  margin-left: var(--dl-space-space-oneandhalfunits);
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(34, 112, 226);
}
@media(max-width: 991px) {
  .stay-in-touch-text1 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .stay-in-touch-stay-in-touch {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .stay-in-touch-text1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .stay-in-touch-stay-in-touch {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.home-header {
  width: 100%;
  height: 115px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #fffdf9;
}
.home-image {
  height: 2rem;
}
.home-nav {
  display: flex;
}
.home-btn-group {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-register {
  top: -50px;
  left: -175px;
  color: var(--dl-color-gray-white);
  margin: var(--dl-space-space-oneandhalfunits);
  position: absolute;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(34, 112, 226);
}
.home-register:hover {
  transform: scale(1.01);
}
.home-text01:hover {
  transform: scale(1.01);
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image1 {
  height: 2rem;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-intro {
  width: 100%;
  height: 883px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fffdf9;
}
.home-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-sixunits);
  align-items: space-between;
  flex-direction: column;
}
.home-container03 {
  display: flex;
  margin-top: 90px;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-text03 {
  color: rgb(33, 33, 33);
  font-size: 80px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-text04 {
  color: rgb(33, 33, 33);
  font-size: 16px;
  margin-top: var(--dl-space-space-unit);
  font-family: Poppins;
  line-height: 1.7;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-text05 {
  font-size: 18px;
}
.home-text06 {
  font-size: 18px;
}
.home-text07 {
  font-size: 18px;
}
.home-text08 {
  font-size: 18px;
}
.home-text09 {
  font-size: 18px;
}
.home-text10 {
  font-size: 18px;
}
.home-text11 {
  font-size: 18px;
}
.home-text12 {
  font-size: 18px;
}
.home-navlink {
  color: var(--dl-color-gray-white);
  align-self: flex-start;
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #2270e2;
}
.home-navlink:hover {
  transform: scale(1.01);
}
.home-container04 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-image2 {
  width: 575px;
  height: 748px;
  opacity: 0;
  object-fit: cover;
}
.home-about-me {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-about-me-line {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-about-me1 {
  width: 100%;
  height: 173px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-text17 {
  color: rgb(33, 33, 33);
  font-size: 48px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-line {
  flex: 0 0 auto;
  width: 125px;
  height: 0px;
  display: flex;
  align-items: center;
  border-color: #49a078;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-container05 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text18 {
  color: rgb(33, 33, 33);
  font-size: 24px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  padding-right: var(--dl-space-space-threeunits);
  text-transform: none;
  text-decoration: none;
}
.home-text19 {
  color: rgb(33, 33, 33);
  margin-top: var(--dl-space-space-twounits);
  font-family: Poppins;
  line-height: 1.75;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-sixunits);
}
.home-navlink1 {
  color: var(--dl-color-gray-white);
  align-self: flex-start;
  text-align: center;
  transition: 0.3s;
  font-family: Poppins;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #2270e2;
}
.home-navlink1:hover {
  transform: scale(1.01);
}
.home-image3 {
  width: 25rem;
  opacity: 0.75;
  object-fit: cover;
  border-radius: 15px;
}
.home-services {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fffdf9;
}
.home-services-line {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 86px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text20 {
  color: #212121;
  font-size: 48px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-line1 {
  flex: 0 0 auto;
  width: 125px;
  height: 0px;
  display: flex;
  align-items: center;
  border-color: #49a078;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.home-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.home-production {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-blog-post-card:hover {
  transform: scale(1.02);
}
.home-image4 {
  width: 100%;
  height: 250px;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-container07 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text21 {
  color: rgb(33, 33, 33);
  font-size: 1.5rem;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text25 {
  color: var(--dl-color-primary-5000);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-navlink2 {
  color: rgb(34, 112, 226);
  text-decoration: none;
}
.home-mixing {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-blog-post-card1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-blog-post-card1:hover {
  transform: scale(1.02);
}
.home-image5 {
  width: 100%;
  height: 250px;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-container08 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text26 {
  color: rgb(33, 33, 33);
  font-size: 1.5rem;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text30 {
  color: var(--dl-color-primary-5000);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-navlink3 {
  color: rgb(34, 112, 226);
  text-decoration: none;
}
.home-mastering {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-blog-post-card2 {
  width: 100%;
  display: flex;
  opacity: 0.25;
  overflow: hidden;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image6 {
  width: 100%;
  height: 250px;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-container09 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text31 {
  color: rgb(33, 33, 33);
  font-size: 1.5rem;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text35 {
  color: var(--dl-color-primary-5000);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text36 {
  color: #2270e2;
}
.home-portfolio {
  width: 100%;
  height: 812px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fffdf9;
}
.home-portfolio-line {
  width: 100%;
  height: 215px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #fffdf9;
}
.home-container10 {
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.home-text37 {
  color: rgb(33, 33, 33);
  font-size: 48px;
  align-self: center;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-line2 {
  width: 115px;
  height: 1.5px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: #49a078;
  border-style: solid;
  border-width: 1.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #49a078;
}
.home-portfolio1 {
  width: 100%;
  height: 535px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-sound-cloud-embeds {
  width: 100%;
  height: 556px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  background-color: #fffdf9;
}
.home-container11 {
  display: flex;
  align-items: stretch;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-div {
  flex: 1;
  padding: var(--dl-space-space-threeunits);
  align-self: center;
}
.home-container12 {
  display: flex;
  align-items: stretch;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-div1 {
  flex: 1;
  padding: var(--dl-space-space-threeunits);
  align-self: center;
}
.home-container13 {
  display: flex;
  align-items: stretch;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-div2 {
  flex: 1;
  padding: var(--dl-space-space-threeunits);
  align-self: center;
}
.home-container14 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
}
.home-footer {
  width: 100%;
  height: 226px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-image7 {
  width: auto;
  height: 2rem;
  object-fit: cover;
  background-color: #212121;
}
.home-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-text38 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  align-self: center;
  font-style: normal;
  font-family: Poppins;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text41 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 300;
}
.home-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link {
  display: contents;
}
.home-icon10 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-icon12 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.home-link1 {
  display: contents;
}
.home-icon14 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-header {
    background-color: #fffdf9;
  }
  .home-intro {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-container03 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text03 {
    text-align: center;
  }
  .home-text04 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .home-image2 {
    order: 2;
  }
  .home-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-container05 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text19 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .home-image3 {
    order: 2;
  }
  .home-blog {
    flex-direction: column;
  }
  .home-production {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image4 {
    height: 350px;
  }
  .home-mixing {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image5 {
    height: 350px;
  }
  .home-mastering {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image6 {
    height: 350px;
  }
  .home-text38 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    align-self: center;
    font-style: normal;
    font-family: Poppins;
    font-weight: 300;
  }
  .home-text41 {
    color: #4d4d4d;
    font-size: 16px;
    font-style: normal;
    margin-top: var(--dl-space-space-oneandhalfunits);
    font-family: Poppins;
    font-weight: 300;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-nav {
    display: none;
  }
  .home-btn-group {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-intro {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-image2 {
    width: 80%;
  }
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-image3 {
    width: 80%;
  }
  .home-text20 {
    font-size: 32px;
  }
  .home-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text38 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-text39 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-text41 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-style: inherit;
    margin-top: var(--dl-space-space-oneandhalfunits);
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-intro {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container03 {
    padding: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text04 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-navlink {
    margin-left: var(--dl-space-space-threeunits);
  }
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container05 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text19 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text37 {
    font-size: 32px;
  }
  .home-line2 {
    width: 75px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text38 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text39 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text41 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
