.component1-container {
  display: flex;
  position: relative;
}
.component1-navlink {
  display: contents;
}
.component1-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: relative;
  object-fit: cover;
  transition: 0.3s;
  padding-top: 0.5 rem;
  padding-left: 0.5 rem;
  padding-right: 0.5 rem;
  padding-bottom: 0.5 rem;
  text-decoration: none;
}

