<div>
  <link href="./header1.css" rel="stylesheet" />
  <header class="header1-header">
    <div class="header1-container">
      <div class="header1-container1">
        <a href="index.html" class="header1-navlink button">
          <span>Home</span>
        </a>
        <a href="about.html" class="header1-navlink1 button">
          <span>About</span>
        </a>
        <button type="button" class="header1-button button">
          <span>Portfolio</span>
        </button>
        <button type="button" class="header1-button1 button">
          <span>Contact</span>
        </button>
      </div>
    </div>
    <img
      alt="image"
      src="https://seeklogo.com/images/S/sa-logo-75D6D7CC71-seeklogo.com.png"
      class="header1-image"
    />
    <button type="button" class="header1-button2 button">
      <span>Hire me</span>
    </button>
  </header>
</div>
