.app-component-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.app-component-navlink {
  color: #4d4d4d;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  padding-top: 0rem;
  margin-right: var(--dl-space-space-unit);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}
.app-component-navlink1 {
  color: #4d4d4d;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  padding-top: 0rem;
  margin-right: var(--dl-space-space-unit);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}
.app-component-navlink2 {
  color: #4d4d4d;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  padding-top: 0rem;
  margin-right: var(--dl-space-space-unit);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}
.app-component-navlink3 {
  color: #4d4d4d;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  padding-top: 0rem;
  margin-right: var(--dl-space-space-unit);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}

.header-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #fffdf9;
}
.header-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.header-navlink {
  display: contents;
}
.header-image {
  left: -300px;
  width: var(--dl-size-size-small);
  bottom: -25px;
  height: var(--dl-size-size-small);
  margin: var(--dl-space-space-oneandhalfunits);
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}

.header-nav {
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.header-navlink1 {
  color: var(--dl-color-gray-white);
  right: 75px;
  margin: var(--dl-space-space-oneandhalfunits);
  position: absolute;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #2270e2;
}
.header-navlink1:hover {
  transform: scale(1.01);
}
.header-burger-menu {
  display: none;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.header-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-navlink2 {
  display: contents;
}
.header-image1 {
  left: 305-px;
  width: var(--dl-size-size-small);
  bottom: 30-px;
  height: var(--dl-size-size-small);
  margin: var(--dl-space-space-oneandhalfunits);
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}

.header-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .header-mobile-menu {
    padding: 16px;
  }
}
