.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.navigation-links1-navlink {
  color: #4d4d4d;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-left: 0px;
  padding-top: 0rem;
  margin-right: var(--dl-space-space-unit);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}
.navigation-links1-navlink1 {
  color: #4d4d4d;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-left: 0px;
  padding-top: 0rem;
  margin-right: var(--dl-space-space-unit);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}
.navigation-links1-navlink2 {
  color: #4d4d4d;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-left: 0px;
  padding-top: 0rem;
  margin-right: var(--dl-space-space-unit);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}
.navigation-links1-navlink3 {
  color: #4d4d4d;
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-left: 0px;
  padding-top: 0rem;
  margin-right: var(--dl-space-space-unit);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}








.navigation-links1-root-class-name8 {
  align-self: center;
}
.navigation-links1-root-class-name10 {
  align-self: center;
}
@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
