<div>
  <link href="./stay-in-touch.css" rel="stylesheet" />
  <div class="stay-in-touch-stay-in-touch">
    <div class="stay-in-touch-container">
      <h1 class="stay-in-touch-text"><span>Stay In Touch</span></h1>
      <span class="stay-in-touch-text1">
        <span class="stay-in-touch-text2">
          Enter your email address to register to our newsletter subscription!
        </span>
        <span></span>
        <span></span>
        <br />
      </span>
      <form
        action="https://formsubmit.co/soundaurora.com@gmail.com"
        method="POST"
        enctype="application/x-www-form-urlencoded"
        class="stay-in-touch-form"
      >
        <input
          type="text"
          name="email"
          required
          placeholder="Enter email address"
          class="stay-in-touch-textinput input"
        />
        <button type="submit" class="stay-in-touch-button button">
          <span>Subscribe</span>
        </button>
      </form>
    </div>
  </div>
</div>
